{% extends 'base.html' %}
		{% block title %}GitMatch{% endblock %}
		{% block header %}GitMatch{% endblock %}
		{% block body %}
		
		<br>
		<form role="form" method="post" onsubmit="return false;">
			<div class="form-group">
				<input type="text" class="form-control" name="location" placeholder="Enter a location" required>		
				<input type="text" class="form-control" name="language" placeholder="Enter a language" required>
			</div>
			<button type="submit" class="btn btn-default">Find a Developer</button>
		</form>
		<br>
		<div id="results"></div>
		{% endblock %}