{% extends 'base.html' %}
		{% block body %}
		<h1>Adder</h1>
		<br>
		<form role="form" method="post" onsubmit="return false;">
			<div class="form-group">
				<input type="text" class="form-control" name="number-one" placeholder="Enter a number" required>		
				<input type="text" class="form-control" name="number-two" placeholder="Enter another number" required>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<br>
		<p id="calc-value">The Calculated value is <span id="results"></span>
		{% endblock %}